.modal__wrapper{
  position: fixed;
  background-color: #000;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__body{
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #fff;
}
