.wrapper{
  margin-top: 50px;
}
select{
    position: fixed;
    top: 10px;
    left: 40%;
    z-index: 30;
    background-color: #000;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
}

option{
  background-color: rgb(15, 14, 14);
  color: rgb(92, 78, 78);
  border-radius: 5px;
}
option{
  &:disabled{
    color: rgb(71, 68, 68);
  }
}
